/*Stylethenavbar*/
#navbar {
    overflow: hidden;
    background-color: #333;
}
#navbar_bootstrap {
    overflow: hidden;
}

/*Navbarlinks*/
#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}
#navbar_bootstrap div {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

/*Pagecontent*/
.content {
    padding: 16px;
}

/*ThestickyclassisaddedtothenavbarwithJSwhenitreachesitsscrollposition*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/*Addsometoppaddingtothepagecontenttopreventsuddenquickmovement(asthenavigationbargetsanewpositionatthetopofthepage(position:fixedandtop:0)*/
.sticky+.content {
    padding-top: 60px;
}