body {
}

header {}

.filtre {
    background-color: rgba(0, 0, 0, 0.2);
}

.background {
    display: block;
    position: relative;

    content: "";
    background: url('../image/gandalf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -150px;
    background-attachment: fixed;


}

.background::after {
    filter: brightness(65%);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div.background {
    background: url('../image/gandalf.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -150px;
    background-attachment: fixed;
}

div.transbox {
    background-color: rgba(0, 0, 0, 0.4);
}

div.transbox p {
    font-weight: bold;
    color: #000000;
}

.parent {
    display: flex;
}

.enfant {
    margin: auto;
}

.block_frodo {
    margin-left: auto;
    margin-right: auto;

}

@font-face {
    font-family: MORPHEUS;
    src: url(../font/MORPHEUS.TTF);
}

.font_morpheus {
    font-family: MORPHEUS;
}

@font-face {
    font-family: ringbearer;
    src: url(../font/RINGM___.TTF);
}

.elvish {
    font-family: elvish_ring_nfi;
}

.parallax {
    /* The image used */
    background-image: url('../image/background_sauron.gif');

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_header {
    position: relative;
    top: -200px;
}

.arrondi {
    border-radius: 25px;
}

.arrondi_image_gauche {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.arrondi_image_droite {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.element {
    margin-top: 50vh;
    /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-50%);
    /* tiré de la moitié de sa propre hauteur */
}

.col-6 {
    position: initial !important;
    padding: 0 !important;
}